
#parent {
    display: flex;
    background-color: coral;
    padding: 20px;
}
#yellow {
    background-color: var(--yellow-light);
}
#blue {
    background-color: blue;
}
#green {
    background-color: green;
}
#red {
    background-color: var(--red-sharp);
}